node_modules
.gemini/skills/ui-ux-pro-max/SKILL.md
.gemini/skills/ui-ux-pro-max/data/charts.csv
.gemini/skills/ui-ux-pro-max/data/colors.csv
.gemini/skills/ui-ux-pro-max/data/icons.csv
.gemini/skills/ui-ux-pro-max/data/landing.csv
.gemini/skills/ui-ux-pro-max/data/products.csv
.gemini/skills/ui-ux-pro-max/data/react-performance.csv
.gemini/skills/ui-ux-pro-max/data/styles.csv
.gemini/skills/ui-ux-pro-max/data/typography.csv
.gemini/skills/ui-ux-pro-max/data/ui-reasoning.csv
.gemini/skills/ui-ux-pro-max/data/ux-guidelines.csv
.gemini/skills/ui-ux-pro-max/data/web-interface.csv
.gemini/skills/ui-ux-pro-max/data/stacks/astro.csv
.gemini/skills/ui-ux-pro-max/data/stacks/flutter.csv
.gemini/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
.gemini/skills/ui-ux-pro-max/data/stacks/jetpack-compose.csv
.gemini/skills/ui-ux-pro-max/data/stacks/nextjs.csv
.gemini/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
.gemini/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
.gemini/skills/ui-ux-pro-max/data/stacks/react-native.csv
.gemini/skills/ui-ux-pro-max/data/stacks/react.csv
.gemini/skills/ui-ux-pro-max/data/stacks/shadcn.csv
.gemini/skills/ui-ux-pro-max/data/stacks/svelte.csv
.gemini/skills/ui-ux-pro-max/data/stacks/swiftui.csv
.gemini/skills/ui-ux-pro-max/data/stacks/vue.csv
.gemini/skills/ui-ux-pro-max/scripts/core.py
.gemini/skills/ui-ux-pro-max/scripts/design_system.py
.gemini/skills/ui-ux-pro-max/scripts/search.py
.gemini/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-310.pyc
.gemini/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-314.pyc
.gemini/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-310.pyc
.gemini/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-314.pyc
.gemini/skills/ui-ux-pro-max/scripts/__pycache__/search.cpython-314.pyc
AGENTS.md
CLAUDE.md
build_error.txt
.next
dist